In [4]:
import os

os.chdir("/Users/shivatmaksharma/D/Uni Work/Advanced ML/Assignment 2/SalesDynamite")

In [5]:
import pandas as pd
from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.pipeline import Pipeline
from xgboost import XGBRegressor
import numpy as np
from src.data.data_loader import DataLoaderDebug
from src.features.data_transformer import DataTransformerDebug
from src.models.predict_model import PredictiveModeling
from joblib import dump

**Main Pipeline**

In [3]:
from sklearn.pipeline import Pipeline
from joblib import dump

# Define the debug_pipeline
debug_pipeline = Pipeline([
    ('loader', DataLoaderDebug('data/raw/sales_train.csv', 
                               'data/raw/calendar.csv', 
                               'data/raw/calendar_events.csv', 
                               'data/raw/items_weekly_sell_prices.csv')),
    ('transformer', DataTransformerDebug()),
    ('predictive_model', PredictiveModeling(target_column='revenue'))
])

# Execute the pipeline
X_transformed = debug_pipeline.fit_transform(X=None, y=None)

# Save the predictive model's internal XGBRegressor to a file
#dump(debug_pipeline.named_steps['predictive_model'].model, 'models/regression_model.joblib')

# Retrieve and display metrics
metrics = debug_pipeline.named_steps['predictive_model'].get_metrics()
for metric, value in metrics.items():
    print(f"{metric.upper()}: {value}")

# Predict using the fitted model within the pipeline
item_id = 'FOODS_3_820'
store_id = 'WI_3'
date = '2015-04-18'
predicted_value = debug_pipeline.named_steps['predictive_model'].predict_revenue(item_id, store_id, date)
print("Predicted Revenue:", predicted_value)

Data after melt:
                                      id        item_id    dept_id   cat_id  \
0         HOBBIES_1_001_CA_1_evaluation  HOBBIES_1_001  HOBBIES_1  HOBBIES
1         HOBBIES_1_002_CA_1_evaluation  HOBBIES_1_002  HOBBIES_1  HOBBIES
2         HOBBIES_1_003_CA_1_evaluation  HOBBIES_1_003  HOBBIES_1  HOBBIES
3         HOBBIES_1_004_CA_1_evaluation  HOBBIES_1_004  HOBBIES_1  HOBBIES
4         HOBBIES_1_005_CA_1_evaluation  HOBBIES_1_005  HOBBIES_1  HOBBIES
...                                 ...            ...        ...      ...
46985085    FOODS_3_823_WI_3_evaluation    FOODS_3_823    FOODS_3    FOODS
46985086    FOODS_3_824_WI_3_evaluation    FOODS_3_824    FOODS_3    FOODS
46985087    FOODS_3_825_WI_3_evaluation    FOODS_3_825    FOODS_3    FOODS
46985088    FOODS_3_826_WI_3_evaluation    FOODS_3_826    FOODS_3    FOODS
46985089    FOODS_3_827_WI_3_evaluation    FOODS_3_827    FOODS_3    FOODS

         store_id state_id       d  sales
0            CA_1       CA     d_1      0
1            CA_1       CA     d_1      0
2            CA_1       CA     d_1      0
3            CA_1       CA     d_1      0
4            CA_1       CA     d_1      0
...           ...      ...     ...    ...
46985085     WI_3       WI  d_1541      2
46985086     WI_3       WI  d_1541      0
46985087     WI_3       WI  d_1541      0
46985088     WI_3       WI  d_1541      0
46985089     WI_3       WI  d_1541      3

[46985090 rows x 8 columns]

Data types after first merge:
 id          object
item_id     object
dept_id     object
cat_id      object
store_id    object
state_id    object
d           object
sales        int64
date        object
wm_yr_wk     int64
dtype: object

Data types after second merge:
 id            object
item_id       object
dept_id       object
cat_id        object
store_id      object
state_id      object
d             object
sales          int64
date          object
wm_yr_wk       int64
event_name    object
event_type    object
dtype: object

Data types after DataLoader:
id             object
item_id        object
dept_id        object
cat_id         object
store_id       object
state_id       object
d              object
sales           int64
date           object
wm_yr_wk        int64
event_name     object
event_type     object
sell_price    float64
revenue       float64
dtype: object

Data types after DataTransformer:
item_id           int16
dept_id            int8
cat_id             int8
store_id           int8
state_id           int8
wm_yr_wk          int64
event_name         int8
event_type         int8
revenue         float64
year              int32
month             int32
day_of_month      int32
dtype: object
Index(['item_id', 'dept_id', 'cat_id', 'store_id', 'state_id', 'wm_yr_wk',
       'event_name', 'event_type', 'revenue', 'year', 'month', 'day_of_month'],
      dtype='object')
MSE: 76.84814888797523
RMSE: 8.766307597157153
MAE: 4.074000018756174
R2: 0.08684438333000954
          item_id  dept_id  cat_id  store_id  state_id  wm_yr_wk  event_name  \
0            1437        3       1         0         0     11101          -1
1            1438        3       1         0         0     11101          -1
2            1439        3       1         0         0     11101          -1
3            1440        3       1         0         0     11101          -1
4            1441        3       1         0         0     11101          -1
...           ...      ...     ...       ...       ...       ...         ...
47107045     1432        2       0         9         2     11512          -1
47107046     1433        2       0         9         2     11512          -1
47107047     1434        2       0         9         2     11512          -1
47107048     1435        2       0         9         2     11512          -1
47107049     1436        2       0         9         2     11512          -1

          event_type  revenue  year  month  day_of_month  predicted_revenue
0                 -1     0.00  2011      1            29           0.129265
1                 -1     0.00  2011      1            29           0.129265
2                 -1     0.00  2011      1            29           0.129265
3                 -1     0.00  2011      1            29           1.672983
4                 -1     0.00  2011      1            29           1.672983
...              ...      ...   ...    ...           ...                ...
47107045          -1     5.76  2015      4            18           3.037271
47107046          -1     0.00  2015      4            18           3.037271
47107047          -1     0.00  2015      4            18           3.037271
47107048          -1     0.00  2015      4            18           3.037271
47107049          -1     3.00  2015      4            18           3.037271

[47107050 rows x 13 columns]

Data after melt:
                                      id        item_id    dept_id   cat_id  \
0         HOBBIES_1_001_CA_1_evaluation  HOBBIES_1_001  HOBBIES_1  HOBBIES
1         HOBBIES_1_002_CA_1_evaluation  HOBBIES_1_002  HOBBIES_1  HOBBIES
2         HOBBIES_1_003_CA_1_evaluation  HOBBIES_1_003  HOBBIES_1  HOBBIES
3         HOBBIES_1_004_CA_1_evaluation  HOBBIES_1_004  HOBBIES_1  HOBBIES
4         HOBBIES_1_005_CA_1_evaluation  HOBBIES_1_005  HOBBIES_1  HOBBIES
...                                 ...            ...        ...      ...
46985085    FOODS_3_823_WI_3_evaluation    FOODS_3_823    FOODS_3    FOODS
46985086    FOODS_3_824_WI_3_evaluation    FOODS_3_824    FOODS_3    FOODS
46985087    FOODS_3_825_WI_3_evaluation    FOODS_3_825    FOODS_3    FOODS
46985088    FOODS_3_826_WI_3_evaluation    FOODS_3_826    FOODS_3    FOODS
46985089    FOODS_3_827_WI_3_evaluation    FOODS_3_827    FOODS_3    FOODS

         store_id state_id       d  sales
0            CA_1       CA     d_1      0
1            CA_1       CA     d_1      0
2            CA_1       CA     d_1      0
3            CA_1       CA     d_1      0
4            CA_1       CA     d_1      0
...           ...      ...     ...    ...
46985085     WI_3       WI  d_1541      2
46985086     WI_3       WI  d_1541      0
46985087     WI_3       WI  d_1541      0
46985088     WI_3       WI  d_1541      0
46985089     WI_3       WI  d_1541      3

[46985090 rows x 8 columns]

Data types after first merge:
 id          object
item_id     object
dept_id     object
cat_id      object
store_id    object
state_id    object
d           object
sales        int64
date        object
wm_yr_wk     int64
dtype: object

Data types after second merge:
 id            object
item_id       object
dept_id       object
cat_id        object
store_id      object
state_id      object
d             object
sales          int64
date          object
wm_yr_wk       int64
event_name    object
event_type    object
dtype: object

Data types after DataLoader:
id             object
item_id        object
dept_id        object
cat_id         object
store_id       object
state_id       object
d              object
sales           int64
date           object
wm_yr_wk        int64
event_name     object
event_type     object
sell_price    float64
revenue       float64
dtype: object
                                     id        item_id    dept_id   cat_id  \
0         HOBBIES_1_001_CA_1_evaluation  HOBBIES_1_001  HOBBIES_1  HOBBIES
1         HOBBIES_1_002_CA_1_evaluation  HOBBIES_1_002  HOBBIES_1  HOBBIES
2         HOBBIES_1_003_CA_1_evaluation  HOBBIES_1_003  HOBBIES_1  HOBBIES
3         HOBBIES_1_004_CA_1_evaluation  HOBBIES_1_004  HOBBIES_1  HOBBIES
4         HOBBIES_1_005_CA_1_evaluation  HOBBIES_1_005  HOBBIES_1  HOBBIES
...                                 ...            ...        ...      ...
47107045    FOODS_3_823_WI_3_evaluation    FOODS_3_823    FOODS_3    FOODS
47107046    FOODS_3_824_WI_3_evaluation    FOODS_3_824    FOODS_3    FOODS
47107047    FOODS_3_825_WI_3_evaluation    FOODS_3_825    FOODS_3    FOODS
47107048    FOODS_3_826_WI_3_evaluation    FOODS_3_826    FOODS_3    FOODS
47107049    FOODS_3_827_WI_3_evaluation    FOODS_3_827    FOODS_3    FOODS

         store_id state_id       d  sales        date  wm_yr_wk event_name  \
0            CA_1       CA     d_1      0  2011-01-29     11101          0
1            CA_1       CA     d_1      0  2011-01-29     11101          0
2            CA_1       CA     d_1      0  2011-01-29     11101          0
3            CA_1       CA     d_1      0  2011-01-29     11101          0
4            CA_1       CA     d_1      0  2011-01-29     11101          0
...           ...      ...     ...    ...         ...       ...        ...
47107045     WI_3       WI  d_1541      2  2015-04-18     11512          0
47107046     WI_3       WI  d_1541      0  2015-04-18     11512          0
47107047     WI_3       WI  d_1541      0  2015-04-18     11512          0
47107048     WI_3       WI  d_1541      0  2015-04-18     11512          0
47107049     WI_3       WI  d_1541      3  2015-04-18     11512          0

         event_type  sell_price  revenue  predicted_revenue
0                 0        0.00     0.00           0.129265
1                 0        0.00     0.00           0.129265
2                 0        0.00     0.00           0.129265
3                 0        0.00     0.00           1.672983
4                 0        0.00     0.00           1.672983
...             ...         ...      ...                ...
47107045          0        2.88     5.76           3.037271
47107046          0        2.00     0.00           3.037271
47107047          0        3.98     0.00           3.037271
47107048          0        1.28     0.00           3.037271
47107049          0        1.00     3.00           3.037271

[47107050 rows x 15 columns]